/* *********** */
/* BELOW 1100px  */
/* *********** */
@media (max-width: 68.75em) {
  html {
    font-size: 55.5%;
    scroll-behavior: smooth;
  }
  .main-banner {
    padding: 10rem 0;
  }
  .right-img img {
    border-radius: 3.5rem;
    width: 43rem;
  }
  .trending-card {
    padding: 0 1rem;
  }
  .trending-filter {
    list-style: none;
    text-align: center;
    margin-bottom: 5rem;
  }
}
/* *********** */
/* BELOW 900px  */
/* *********** */
@media (max-width: 56.25em) {
  .container {
    max-width: 110rem;
    padding: 0 7rem;
    margin: 0 auto;
  }
  .logos img {
    width: 70%;
    height: auto;
  }
  .list-el {
    display: flex;
    gap: 0;
  }
  .list-el li a {
    padding: 1rem 2rem;

    font-size: 1.4rem;
  }
  .hero-section {
    height: 40rem;
  }
  .trending-filter li a {
    font-size: 1.2rem;
    padding: 1.4rem 2.4rem;
  }
  .trending-card {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 2rem;
  }
}
/* *********** */
/* BELOW 780px  */
/* *********** */
@media (max-width: 49em) {
  .main-nav {
    display: none;
  }
  .mobile-banner {
    display: block;
  }
  .mobile-icon i {
    color: #fff;
    font-size: 3.2rem;
  }
  .trending-filter li {
    margin: 0.2rem;
  }
  .trending-card {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
  }
  .trending-section .container {
    max-width: 70rem;
    padding: 0 2rem;
  }
  .footer-text {
    gap: 4rem;

    flex-direction: column;
  }
}
/* *********** */
/* BELOW 440px  */
/* *********** */
@media (max-width: 27.5em) {
  .container {
    max-width: 130rem;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .trending-filter li a {
    font-size: 1rem;
    padding: 1.4rem 2.4rem;
  }
  .footer-text p {
    font-size: 1rem;
  }
}
