/* **********
HERO SECTION
*************/
.hero-section {
  width: 100%;
  height: 44rem;
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0;
  border-radius: 0 0 17rem 17rem;
  margin-bottom: 10rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.mobile-banner {
  display: none;
}
.logos img {
  width: 100%;
  height: auto;
}
.list-el {
  display: flex;
  gap: 4rem;
}
.list-el li a {
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  line-height: 4rem;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.list-el li:last-child {
  background-color: #ee626b;
  border-radius: 2rem;
  text-transform: uppercase;
  padding: 0 1rem;
}
.list-el li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-banner {
  padding: 14rem 0;
}
.row {
  display: flex;
  text-align: center;
}
.header-text {
  flex: 0 0 auto;
  width: 100%;
}
.header-text h3 {
  color: #fff;
  font-size: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.header-text span {
  color: #fff;
  font-size: 1.6rem;
}
.header-text span a {
  color: #fff;
}
/* **********
TREBDING SECTION
*************/
.trending-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 7rem;
}
.trending-filter li {
  display: inline-block;
  margin: 0.5rem 0.8rem;
}
.trending-filter .active {
  background-color: #ee626b;
  color: #fff;
}
.trending-filter .active:hover {
  color: #fff;
}

.trending-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e1e1e;
  background-color: #eee;
  padding: 1.6rem 2.6rem;
  border-radius: 2.4rem;
  transition: all 0.3s;
}
.trending-filter li a:hover {
  color: #ee626b;
}
.trending-row {
  display: flex;
  flex-wrap: wrap;
}
.trending-card {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 2rem;
}
.trending-item {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 30px;
}

.thumb img {
  width: 100%;
  position: relative;
  border-radius: 2.4rem;
}
.card-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #0071f8;
  color: #fff;
  padding: 1.4rem;
  font-size: 1.4rem;
  text-align: right;
  border-radius: 1em;
  font-weight: 700;
}
.card-price em {
  display: block;
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.6rem;
}
.content-dwon {
  padding: 2.8rem;
}
.content-dwon span {
  display: inline-block;
  color: #7a7a7a;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}
.content-dwon h4 {
  font-size: 1.6rem;
  transition: all 0.3s;
}
.content-dwon h4:hover {
  color: #0071f8;
}
.content-dwon a {
  position: absolute;
  display: inline-block;
  bottom: 2.7rem;
  right: 2rem;
  height: 3.6rem;
  width: 3.6rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: #ee626b;
  color: #fff;
  line-height: 3.4rem;
  border-radius: 3rem;
  transition: all 0.3s;
}
.content-dwon a:hover {
  background-color: #0071f8;
}
.row {
  display: flex;
}
.col-log-100 {
  flex: 0 0 auto;
  width: 100%;
}
.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.pagination li {
  margin: 0 1.4rem;
}
.pagination li a {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background-color: #eee;
  color: #1e1e1e;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50%;
  transition: all 0.3s;
}
.pagination li a:hover {
  background-color: #0071f8;
  color: #fff;
}
.pagination .active {
  background-color: #0071f8;
  color: #fff;
}
/* **********
FOOTER SECTION
*************/
footer {
  margin-top: 15rem;
  background-color: #0071f8;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
  border-radius: 15rem 15rem 0 0;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 2rem;
  color: #fff;
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-text a {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.footer-text a:hover {
  opacity: 0.75;
}
