/* *********** */
/* BELOW 1400px ( FOR SMALLER COMPUTER) */
/* *********** */
@media (max-width: 87.5em) {
  html {
    font-size: 55.5%;
    scroll-behavior: smooth;
  }
  .main-banner {
    padding: 10rem 0;
  }
  .right-img img {
    border-radius: 3.5rem;
    width: 43rem;
  }
}
/* *********** */
/* BELOW 1200px  */
/* *********** */
@media (max-width: 75em) {
  html {
    font-size: 50.5%;
    scroll-behavior: smooth;
  }
  .right-img img {
    width: 40rem;
  }
}
/* *********** */
/* BELOW 1008px  */
/* *********** */
@media (max-width: 63em) {
  .hero-section {
    height: 100vh;
  }
  .container {
    max-width: 110rem;
    padding: 0 7rem;
    margin: 0 auto;
  }
  .hero-left {
    padding: 0 2.8rem;
    width: 100%;
    height: 45rem;
    text-align: center;
  }
  .hero-text h6 {
    font-size: 2.4rem;
  }
  .hero-text h2 {
    font-size: 6rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
  .hero-text h2::after {
    width: 20rem;
    top: 6.4rem;
    left: 15rem;
  }
  .hero-text p {
    font-size: 1.8rem;
    line-height: 3.4rem;
    text-align: left;
  }
  .search-input form {
    position: relative;
    max-width: 90rem;
  }
  .hero-left .search-input button {
    right: 0;
  }
  .hero-left .search-input form input {
    max-width: 90rem;
    width: 100%;
  }
  .hero-right {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: 100rem;
  }
  .right-img img {
    width: auto;
    height: 100rem;
  }
  .logos img {
    width: 70%;
    height: auto;
  }
  .list-el {
    gap: 2rem;
  }
  .feature-card {
    flex: 0 0 50%;
    width: 50%;
    padding: 2rem 4.2rem;
  }
  .feature {
    margin-top: -24rem;
  }
  .item {
    padding: 5.6rem;
  }
  .trending-head .main-btn {
    display: none;
  }
  .trending-heading h2 {
    font-size: 4.2rem;
  }
  .col-log-25 {
    width: 50%;
  }
  .content-dwon span {
    font-size: 1.6rem;
  }
  .content-dwon h4 {
    font-size: 2rem;
  }
  .played-head .main-btn {
    display: none;
  }
  .played-head {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
  }
  .played-heading h2 {
    font-size: 4.4rem;
    margin-top: 1.6rem;
  }
  .played-card {
    flex: 0 0 50%;
    width: 50%;
    padding: 4rem;
  }
  .bottom-content {
    padding: 5.2rem 2rem 4.6rem 2rem;
  }
  .bottom-content span {
    font-size: 1.6rem;
  }
  .bottom-content h4 {
    font-size: 1.6rem;
  }
  .bottom-content a {
    bottom: -2.2rem;
    right: 14rem;

    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.2rem 2.2rem;
  }
  .col-log-20 {
    flex: 0 0 auto;
    width: 50%;
    padding: 2rem;
  }
  .Categories-heading h6 {
    font-size: 1.8rem;
  }
  .Categories-heading h2 {
    font-size: 4.2rem;
  }
  .Categories-item h4 {
    font-size: 2.2rem;
  }
  .cta::after {
    display: none;
  }
  .row {
    flex-direction: column;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 100%;
  }
  .section-heading h6 {
    font-size: 2rem;
    color: #ee626b;
  }
  .section-heading h2 {
    margin-top: 2.2rem;
    font-size: 4.4rem;
  }
  .cta .shop p {
    font-size: 2rem;
  }
  .main-button a {
    font-size: 1.8rem;
  }
  .search-input form input {
    max-width: 70rem;
    height: 6rem;
    width: 70rem;
    font-size: 1.8rem;
  }
  .search-input button {
    height: 6rem;
    width: 21rem;
    padding: 0 1.4rem;
    font-size: 1.4rem;
    right: 5rem;
  }
}
/* *********** */
/* BELOW 804px  */
/* *********** */
@media (max-width: 50em) {
  .hero-section {
    height: 90vh;
  }
  .main-nav {
    display: none;
  }
  .mobile-banner {
    display: block;
  }
  .mobile-icon i {
    color: #fff;
    font-size: 3.6rem;
  }
  .main-banner .container,
  .trending-section .container,
  .most-played .container,
  .Categories-section .container,
  .section .container {
    max-width: 80rem;
  }
  .hero-left {
    padding: 0 2rem;
    width: 100%;
    height: 55rem;
  }
  .hero-text h2 {
    font-size: 5.4rem;

    line-height: 7rem;
  }
  .hero-text h2::after {
    width: 25rem;
    top: 13rem;
    left: 14rem;
  }
  .hero-text p {
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
  }
  .price {
    top: 4rem;
    right: 4rem;
    font-size: 2.6rem;
  }
  .offer {
    bottom: 2rem;
    left: 1rem;
  }
  .hero-right {
    height: 80rem;
    padding: 0 2rem;
  }
  .right-img img {
    height: 80rem;
  }
  .feature-card {
    flex: 0 0 100%;
    width: 100%;
    padding: 2rem 4.2rem;
  }
  .feature-card {
    flex: 0 0 100%;
    width: 100%;
    padding: 2rem 11.2rem;
  }
  .trending-head {
    flex: 0 0 100%;
    width: 100%;
  }
  .col-log-25 {
    width: 100%;
    padding: 0;
  }
  .played-card {
    padding: 2rem;
  }
  .bottom-content a {
    right: 9rem;
  }
  .search-input form input {
    width: 45rem;
  }
  .search-input button {
    width: 16rem;
  }
  .shop .col-lg-12 {
    padding: 0;
  }
  .section-heading h2 {
    font-size: 4rem;
  }
  .section-heading {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
  .cta .shop {
    padding: 5rem 7rem;
  }
  .cta .shop p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .footer-text p {
    font-size: 1.4rem;
  }
  .footer-text a {
    font-size: 1.4rem;
  }
}
/* *********** */
/* BELOW 600px  */
/* *********** */
@media (max-width: 37.5em) {
  .container {
    padding: 0 2rem;
  }
  .feature-card {
    padding: 2.4rem 0;
  }
  .played-card {
    flex: 0 0 100%;
    width: 100%;
    padding: 3rem;
  }
  .bottom-content a {
    right: 20rem;
  }
  .col-log-20 {
    flex: 0 0 100%;
    width: 100%;
  }
  .footer-text {
    gap: 4rem;

    flex-direction: column;
  }
}
/* *********** */
/* BELOW 450px  */
/* *********** */
@media (max-width: 28em) {
  .hero-text h2 {
    font-size: 4.4rem;
    line-height: 5rem;
  }
  .hero-text h2::after {
    width: 21rem;
    top: 10rem;
    left: 13rem;
  }
  .hero-text p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .hero-right {
    height: 70rem;
  }
  .right-img img {
    height: 70rem;
  }
  .bottom-content a {
    right: 15rem;
  }
  .cta .shop {
    padding: 5rem 2rem;
  }
  .subscribe {
    padding: 7rem 2rem;
  }
  .section-heading h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .search-input form input {
    width: 35rem;
  }
  .search-input button {
    right: 0rem;
  }
}
/* *********** */
/* BELOW 360px  */
/* *********** */
@media (max-width: 22.5em) {
  .hero-section {
    height: 80vh;
  }
  .logos img {
    width: 60%;
  }
  .mobile-icon i {
    color: #fff;
    font-size: 3.2rem;
  }
  .hero-text h2::after {
    width: 21rem;
    top: 11rem;
    left: 7rem;
  }
  .hero-text p {
    font-size: 1.2rem;
  }
  .hero-right {
    height: 60rem;
  }
  .right-img img {
    height: 60rem;
  }
  .bottom-content a {
    right: 11rem;
  }
  .search-input form input {
    width: 30rem;
  }
  .search-input button {
    width: 14rem;
  }
  .search-input button {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .footer-text p {
    font-size: 1rem;
  }
}
