/* **********
HERO SECTION
*************/
.hero-section {
  width: 100%;
  height: 96rem;
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0;
  border-radius: 0 0 15rem 15rem;
  margin-bottom: 10rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.logos img {
  width: 100%;
  height: auto;
}
.list-el {
  display: flex;
  gap: 4rem;
}
.list-el li a {
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  line-height: 4rem;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.list-el li:last-child {
  background-color: #ee626b;
  border-radius: 2rem;
  text-transform: uppercase;
  padding: 0 1rem;
}
.list-el li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-banner {
  padding: 18rem 0;
}
.mobile-banner {
  display: none;
}
.row {
  display: flex;
  align-items: center;
}

.hero-text h6 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.hero-text h2 {
  font-size: 4.4rem;
  margin-top: 2rem;
  color: #fff;
  margin-bottom: 6rem;
  position: relative;
}
.hero-text h2::after {
  position: absolute;
  content: "";
  background-image: url(../images/caption-dec.png);
  height: 1rem;
  width: 19rem;
  top: 4.4rem;
  left: 12rem;
}
.hero-text p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin-bottom: 7rem;
}
.hero-left {
  padding: 0 1.8rem;
  flex: 0 0 auto;
  width: 50%;
}
.hero-right {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  width: 50%;
}
.search-input form {
  position: relative;
  max-width: 40rem;
}
.search-input form input {
  max-width: 40rem;
  height: 5rem;
  width: 100%;
  padding: 0 2.4rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #7a7a7a;
}
.search-input button {
  position: absolute;
  display: inline-block;
  height: 5rem;
  width: 17rem;
  border: none;
  outline: none;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5rem;
  top: 0rem;
  right: -1rem;
  text-transform: uppercase;
  background-color: #ee626b;
  color: #fff;
  transition: all 0.3s;
}
.search-input button:hover {
  background-color: #0071f8;
}
.right-img img {
  border-radius: 2.5rem;
}
.right-img {
  position: relative;
}
.price {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-weight: 500;
  font-size: 2.2rem;
  color: #fff;
  background-color: #008af8;
  padding: 0.7rem 1.4rem;
  border-radius: 2rem;
  font-weight: 700;
}
.offer {
  position: absolute;
  background-color: #ee626b;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 10rem;
  color: #fff;
  padding: 4rem 1.2rem;
  bottom: -3rem;
  left: -5rem;
}
/* **********
FEAUTRE SECTION
*************/
.feature {
  margin-top: -20rem;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
}
.feature-card {
  flex: 0 0 25%;
  width: 25%;
  padding: 0 1.2rem;
}
.item {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 4.6rem;
  border-radius: 2.6rem;
}
.card-img {
  display: inline-block;
  background-color: #0071f8;
  padding: 2rem 2rem;
  border-radius: 50%;
  transition: all 0.2s;
}
.card-img:hover {
  background-color: #ee626b;
  color: #fff;
}
.item h4 {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #1e1e1e;
}
/* **********
TRENDING SECTION
*************/
.trending-section {
  margin-top: 12rem;
  margin-bottom: 10rem;
}
.trending-row {
  display: flex;
  flex-wrap: wrap;
}
.trending-head {
  flex: 0 0 auto;
  width: 49%;
}
.trending-heading {
  margin-bottom: 6.6rem;
}
.trending-heading h6 {
  font-size: 1.6rem;
  color: #ee626b;
  font-weight: 700;
  text-transform: uppercase;
}
.trending-heading h2 {
  font-size: 3.4rem;
  margin-top: 2.6rem;
  font-weight: 700;
  line-height: 5rem;
}
.main-btn {
  text-align: right;
  margin-top: 3.2rem;
}
.main-btn a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee626b;
  padding: 1.6rem 2.6rem;
  border-radius: 5rem;
  transition: all 0.3s;
}
.main-btn a:hover {
  background-color: #0071f8;
}
.col-log-25 {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 2rem;
}
.trending-item {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 30px;
}

.thumb img {
  width: 100%;
  position: relative;
  border-radius: 2.4rem;
}
.card-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #0071f8;
  color: #fff;
  padding: 1.4rem;
  font-size: 1.4rem;
  text-align: right;
  border-radius: 1em;
  font-weight: 700;
}
.card-price em {
  display: block;
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.6rem;
}
.content-dwon {
  padding: 2.8rem;
}
.content-dwon span {
  display: inline-block;
  color: #7a7a7a;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}
.content-dwon h4 {
  font-size: 1.6rem;
  transition: all 0.3s;
}
.content-dwon h4:hover {
  color: #0071f8;
}
.content-dwon a {
  position: absolute;
  display: inline-block;
  bottom: 2.7rem;
  right: 2rem;
  height: 3.6rem;
  width: 3.6rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: #ee626b;
  color: #fff;
  line-height: 3.4rem;
  border-radius: 3rem;
  transition: all 0.3s;
}
.content-dwon a:hover {
  background-color: #0071f8;
}
/* **********
MOST PLAYED SECTION
*************/
.most-played {
  background-color: #f7f7f7;
  padding: 10rem 0;
  border-radius: 15rem;
  margin-bottom: 12rem;
}
.most-played-row {
  display: flex;
  flex-wrap: wrap;
}
.played-head {
  flex: 0 0 auto;
  width: 49%;
}
.played-heading {
  margin-bottom: 6.6rem;
}
.played-heading h6 {
  font-size: 1.6rem;
  color: #ee626b;
  font-weight: 700;
  text-transform: uppercase;
}
.played-heading h2 {
  font-size: 3.4rem;
  margin-top: 2.6rem;
  font-weight: 700;
  line-height: 5rem;
}
.played-card {
  flex: 0 0 auto;
  width: 16.6666%;
  padding: 2rem;
}
.played-card img {
  width: 100%;
}
.played-item {
  background-color: #fff;
  position: relative;
  border-radius: 2.5rem;
}
.palyed-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
}
.bottom-content {
  padding: 3.2rem 2rem 4.6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-content span {
  display: inline-block;
  color: #7a7a7a;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.bottom-content h4 {
  font-size: 1.6rem;
  font-weight: 600;

  transition: all 0.3s;
}
.bottom-content h4:hover {
  color: #0071f8;
}
.bottom-content a {
  position: absolute;
  bottom: -1.4rem;
  right: 4rem;
  color: #fff;
  background-color: #ee626b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  transition: all 0.3s;
}
.bottom-content a:hover {
  background-color: #0071f8;
}
/* **********
Categories SECTION
*************/
.Categories-section {
  margin-bottom: 10rem;
}
.Categories-heading {
  text-align: center;
  margin-bottom: 7rem;
}
.Categories-heading h6 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ee626b;
  text-transform: uppercase;
}
.Categories-heading h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 1.6rem;
  line-height: 4rem;
}
.Categories-row {
  display: flex;
  flex-wrap: wrap;
}
.col-log-20 {
  flex: 0 0 auto;
  width: 20%;
  padding: 0 2rem;
}
.Categories-item {
  text-align: center;
  position: relative;
  background-color: #0071f8;
  border-radius: 2.6rem;
}
.Categories-item h4 {
  padding: 2.2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
}
.Categories-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
}
.Categories-thumb img {
  width: 100%;
  display: block;
}
/* **********
Shop SECTION
*************/
.section {
  margin-bottom: 8rem;
}
.cta {
  position: relative;
}
.cta::after {
  background-image: url(../images/cta-bg.jpg);
  max-width: 550px;
  max-height: 510px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: 25px;
  left: 50%;
  transform: translateX(-275px);
  top: 0;
  z-index: -1;
}

.cta .shop p {
  font-weight: 600;
  font-size: 1.6rem;
  color: #4a4a4a;
  line-height: 2.8rem;
}
.main-button {
  margin-top: 50px;
}
.main-button a {
  display: inline-block;
  color: #fff;
  background-color: #ee626b;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 3rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 3rem;
  transition: all 0.3s;
}
.main-button a:hover {
  background-color: #0071f8;
}
.row {
  display: flex;
  margin: 0 -1.2rem;
}
.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.cta .shop {
  background-color: #f7f7f7;
  padding: 7rem 6rem;
  margin-top: 8rem;
  border-radius: 3.2rem;
}
.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1.2rem;
}
.shop .col-lg-12 {
  padding: 0 3.2rem;
}
.section-heading {
  margin-right: 3rem;
  margin-bottom: 5rem;
}
.section-heading h6 {
  font-size: 1.5rem;
  color: #ee626b;
}
.section-heading h2 {
  margin-top: 1.8rem;
  font-size: 3.6rem;
  line-height: 4.8rem;
}
.section-heading em {
  color: #0071f8;
}
.subscribe {
  background-color: #f7f7f7;
  padding: 7rem 6rem;
  margin-top: 8rem;
  border-radius: 2.2rem;
  margin-right: 2rem;
}
.align-self-end {
  align-self: flex-end !important;
}
.offset-lg-2 {
  margin-left: 16.66666667%;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
/* **********
footer SECTION
*************/
footer {
  margin-top: 10rem;
  background-color: #0071f8;
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 15rem;
  border-radius: 15rem 15rem 0 0;
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 2rem;
  color: #fff;
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-text a {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.footer-text a:hover {
  opacity: 0.75;
}
