/* *********** */
/* BELOW 1100px  */
/* *********** */
@media (max-width: 68.75em) {
  html {
    font-size: 55.5%;
    scroll-behavior: smooth;
  }
  .main-banner {
    padding: 10rem 0;
  }
}
/* *********** */
/* BELOW 900px  */
/* *********** */
@media (max-width: 56.25em) {
  .container {
    max-width: 110rem;
    padding: 0 3rem;
    margin: 0 auto;
  }
  .logos img {
    width: 70%;
    height: auto;
  }
  .list-el {
    display: flex;
    gap: 1rem;
  }
  .list-el li a {
    padding: 1rem 2rem;

    font-size: 1.4rem;
  }
  .hero-section {
    height: 40rem;
  }
  .page-left {
    width: 100%;
    margin-top: 4rem;
  }
  .page-section .container {
    max-width: 80rem;
  }
  .page-heading h2 {
    margin-top: 3rem;
    font-size: 3.8rem;
    line-height: 4rem;
  }
  .page-text {
    padding: 7rem 7rem;
  }
  .page-text p {
    font-size: 1.6rem;
  }
  .page-text ul li span {
    font-size: 1.8rem;
  }
  .page-right {
    width: 100%;
    margin-top: 6rem;
  }
  .col-log-50 {
    width: 100%;
  }
}
/* *********** */
/* BELOW 780px  */
/* *********** */
@media (max-width: 49em) {
  .main-nav {
    display: none;
  }
  .mobile-banner {
    display: block;
  }
  .mobile-icon i {
    color: #fff;
    font-size: 3.2rem;
  }

  .footer-text {
    gap: 4rem;
    flex-direction: column;
  }
}
/* *********** */
/* BELOW 440px  */
/* *********** */
@media (max-width: 27.5em) {
  .footer-text p {
    font-size: 0.8rem;
  }
  .header-text h3 {
    font-size: 3.6rem;
  }
  .footer-text a {
    font-size: 1.2rem;
  }
}
