/* *********** */
/* BELOW 1100px  */
/* *********** */
@media (max-width: 68.75em) {
  html {
    font-size: 55.5%;
    scroll-behavior: smooth;
  }
  .main-banner {
    padding: 10rem 0;
  }
}
/* *********** */
/* BELOW 900px  */
/* *********** */
@media (max-width: 56.25em) {
  .container {
    max-width: 110rem;
    padding: 0 3rem;
    margin: 0 auto;
  }
  .logos img {
    width: 70%;
    height: auto;
  }
  .list-el {
    display: flex;
    gap: 0;
  }
  .list-el li a {
    padding: 1rem 2rem;

    font-size: 1.4rem;
  }
  .hero-section {
    height: 40rem;
  }
}
/* *********** */
/* BELOW 780px  */
/* *********** */
@media (max-width: 49em) {
  .trending-section .container,
  .more-info .container,
  .product-section .container {
    max-width: 60rem;
    padding: 0;
  }
  .main-nav {
    display: none;
  }
  .mobile-banner {
    display: block;
  }
  .mobile-icon i {
    color: #fff;
    font-size: 3.2rem;
  }
  .row-left {
    flex: 0 0 auto;
    width: 100%;
  }
  .img-left {
    margin-right: 0;
  }
  .row-right {
    flex: 0 0 auto;
    width: 100%;
    text-align: left;
    padding: 4rem;
  }
  .product-section {
    margin-top: 8rem;
    margin-bottom: 9rem;
  }

  .info-text p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  .trending-head .main-btn {
    display: none;
  }
  .trending-head {
    width: 100%;
  }
  .col-log-20 {
    flex: 0 0 auto;
    width: 50%;
    padding: 2rem;
  }

  .footer-text {
    gap: 4rem;

    flex-direction: column;
  }
}
/* *********** */
/* BELOW 440px  */
/* *********** */
@media (max-width: 27.5em) {
  .trending-filter li a {
    font-size: 1rem;
    padding: 1.4rem 2.4rem;
  }
  .footer-text p {
    font-size: 0.8rem;
  }
  .header-text h3 {
    font-size: 3.6rem;
  }
  .footer-text a {
    font-size: 1.2rem;
  }
}
